aws_region = "us-east-2"
access_key = ""
secret_key = ""
private_key_name = ""
public_key_name = ""
private_name = ""
public_name = ""
aws_region_az = "b"
aws_public_region_az = "a"
instance_ami = "ami-03d5c68bab01f3496"
instance_type = "t2.micro"
root_device_type = "gp2"
root_device_size = "50"
private_subnet_id = ""
public_subnet_id = ""
vpc_id = ""
cert = ""
route53_zone_id = ""
elb_name = ""
elb_sg_name = ""
domain_prefix = ""